pypi-publish:
  runs-on: ubuntu-latest
  needs:
    - release-build
  permissions:
    contents: read  # keep
  steps:
    - name: Retrieve release distributions
      uses: actions/download-artifact@v4
      with:
        name: release-dists
        path: dist/

    - name: Publish release distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dist/
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
